*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    max-width: 1156px;
    margin: 0 auto;
}

.container{                             /* Container */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#citizen-zone-title, #notice-section-title{         /* Heading Citizen Zone*/
    color: rgb(71, 70, 70);
    margin: 1rem auto;
}

.nagarik-chetra{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 33px;
    margin: 0 0 20px;
}
.nagarik-chetra a{
    text-decoration: none;
    color: white;
}
.icon-with-box:hover{
    transform: scale(1.05);
}

.icon-with-box{
    width: 182px;
    height: 185px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.officer-list{
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin-top: 40px;
}
.prabakta-image{
    width: 120px;
    height: 130px;
    border-radius: 6px;   
}
.details-number{
 color: rgb(231, 150, 70);
}

/* -------------------- Notice Section ----------------- */

.notice-section-container{
    background-color: rgb(226, 226, 226);
    height: 50rem;
    border-radius: 6px;
    margin-left: 10px;
    
}

.notice-section-container-navbar{
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    background-color: rgb(18, 79, 159);
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.notice-section-container-navbar a{
    font-size: larger;
    text-decoration: none;
    color: white;
}

.notice-section-container-content{
    padding: 1rem;
    max-height: 39rem;
    border-radius: 8px;
    overflow:  auto;
    margin: 20px;
}

.news{
    margin: 0.8rem auto;
}
.news a{
    text-decoration: none;
    color: rgb(23, 23, 23);
    font-size: larger;
}
.news p{
    margin-top: 0.5rem;
    font-size: smaller;
    color: rgb(164, 164, 164);
}
.btn-more{
    background-color: #fcb000;
    color: white;
    margin: 1rem 3rem;
    padding: 0.45rem 1.2rem;
    border: none;
    border-radius: 6px;
    font-size: large;
    font-weight:lighter;
}
.btn-more:hover{
    color: rgb(2, 2, 116);
}


/* ------------------ Mobile Application Section---------------------- */

.mobile-app-section{
    background-color: rgb(226, 226, 226);
    height: fit-content;
    margin-top: 2rem;
    padding-bottom: 18px;
}
.mobile-app-section-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items:start;
}

.mobile-app-section-application{
    margin: 1rem 1rem;
    padding: 1rem 2rem;
    background-color: white;
    height: fit-content;
}
.application-list{
    margin-top: 1rem;
}
.application-list a img{
    width: 14rem;
    position: relative;
}
.application-list a img:hover{
    width: 14.01rem;
    box-shadow: 2px 2px 2px 2px #adadad;
    z-index: 10;
}

/* ------------------ Gallery -------------------- */
.gallery{
    margin-top: 0;
    background-color: #4a596b;
    padding: 40px 0;
}
.gallery-section{
    width: 100%;
color: white;
}
.gallery-content{
    max-width: 25rem;
}
.gallery-content-img{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.gallery-content a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

/* ---------------------- Footer ------------------------ */