*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}
footer{
    background-color:#124f9f;
    color: white;
    padding-top: 2rem;
}
.wrapper{
max-width: 1156px;
margin: 0 auto;
}

.footer-container{
    padding: 0 15px 30px 15px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.bottom-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}


.contact-detail{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.links{
    margin-left: 3rem;
}
.links li{
    list-style-type: none;
}
.links li a:hover{
    color: #ff6900;
}

.bottom-footer{
    padding-bottom: 2rem;
}